{% extends 'base.html' %} {% block body %}
<style>
  .dropdown-toggle::after {
    content: none;
  }
</style>
<nav
  class="navbar navbar-expand-lg navbar-dark bg-dark"
  style="top: 0; position: sticky"
>
  <div class="container">
    <a href="{% url 'home' %}" class="navbar-brand">HeartDiseasePrediction</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}"
            >Heart Analysis</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'DoctorList' %}">View Doctor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'feedback' %}">Feedback</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <div class="white-color hover-orange size-24px">
              <span> Hello! {{ user }}</span>
              <i class="fa fa-user-circle"></i>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-end">
            <a href="{% url 'change_password' %}" class="dropdown-item"
              >Change Password</a
            >
            <a href="{% url 'logout' %}" class="dropdown-item">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<h1 class="text-center mt-4">Feedback Form</h1>
<div class="mt-2" style="width: 80%; margin: 0 auto">
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{ message }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>

    {% endfor %}
  </ul>
  {% endif %}
</div>
<div class="container" style="width: 60%">
  <form class="" method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <label for="fname" class="form-label">Name</label>
      <input
        type="text"
        name="name"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="jhon doe"
      />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"
        >Email address</label
      >
      <input
        type="email"
        name="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="name@example.com"
      />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label"
        >Feedback</label
      >
      <textarea
        class="form-control"
        name="feedback"
        id="exampleFormControlTextarea1"
        rows="5"
      ></textarea>
    </div>
    <div class="mb-3">
      <input
        type="submit"
        class="btn btn-primary btn-lg mt-1 ml-4"
        value="Submit"
      />
    </div>
  </form>
</div>
<section class="footer mt-5">
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-4">
        <a href="#" class="logo"
          ><span>H</span>eart<span>D</span>isease<span>P</span>rediction.</a
        >
        <p style="font-size: 1rem">
          Heart Disease Prediction System has simple user friendly, robust
          interface. User can easily navigate through Heart Disease Prediction
          System and make maximum use of it to get benefit.
        </p>
      </div>
      <div class="col-md-4 text-center">
        <h3>Links</h3>
        <a href="#">Home</a>
        <a href="#">About</a>
      </div>
      <div class="col-md-4 text-center">
        <h3>Share</h3>
        <a href="#">Github</a>
        <a href="#">Instagram</a>
      </div>
    </div>
  </div>
  <h4 class="credit text-center mx-auto">
    Created by <span>Pawan Kumar Shrestha</span> | All rights reserve
  </h4>
</section>
{% endblock %}
